.database {
    max-width: 1230px;
    width: 100%;
    height: calc(100vh - 80px - 40px);
    margin: 0 auto;
    padding-top: 48px;
    font-size: 20px;
    background: #eee;
}

.database__date {
    text-align: center;
    margin-bottom: 48px;
    font-weight: bold;
    position: relative;
}

.input-submit {
    appearance: none;
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    font-family: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
}

svg.w-5.h-5 {
    width: 24px;
    height: 24px;
    transform: scaleX(1.5);
    color: rgb(80, 80, 251);
    background: #fff;
    border: 1px solid rgb(80, 80, 251);
}

.previous {
    position: absolute;
    top: 0;
    left: 40%;
}

.next {
    position: absolute;
    top: 0;
    left: 58%;
}

.pg {
    display: inline-block;
}

.pagination {
    display: flex;
    list-style-type: none;
}

.page-item {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: center;
    background: #fff;
}

.page-link {
    color: rgb(110, 160, 230);
}

.database__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.database__header {
    display: flex;
    padding: 20px 32px;
    border-top: 1px solid #000;
}

.database__p {
    width: 20%;
    font-weight: bold;
}

.database__content {
    height: 400px;
}

.database__data {
    display: flex;
    padding: 20px 32px;
    font-size: 16px;
    border-top: 1px solid #000;
}

.paginate {
    text-align: center;
}

.paginate-prev {
    color: rgb(80, 174, 251);
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 12px 12px;
    background: #fff;
    vertical-align: middle;
}

.current {
    color: rgb(80, 174, 251);
    border: 1px solid #ddd;
    padding: 6px 12px;
    background: #fff;
}

.paginate-next {
    color: rgb(80, 174, 251);
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 12px 12px;
    background: #fff;
    vertical-align: middle;
}

.user-database__p {
    width: 20%;
    margin: 0 auto;
    font-weight: bold;
}

/* user_attendance_list.blade.php のスタイリング */

.date {
    width: 20%;
    font-size: 16px;
}

.date_button {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.date_button:hover {
    opacity: 0.8;
}

.date__error {
    color: red;
    margin-bottom: 8px;
}
