.database {
    max-width: 1230px;
    width: 100%;
    height: calc(100vh - 80px - 40px);
    margin: 0 auto;
    padding-top: 32px;
    font-size: 20px;
    background: #eee;
}

.database__date {
    display: flex;
    text-align: center;
    margin-bottom: 32px;
    font-weight: bold;
    /* position: relative; */
}

.prev-button {
    margin-left: 480px;
}

.attendance-date {
    margin: 0 auto;
    padding-top: 4px;
}

.next-button {
    margin-right: 480px;
}

.previous,
.next {
    color: rgb(9, 70, 211);
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(10, 70, 210);
    padding: 4px 12px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.database__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.database__header {
    display: flex;
    padding: 24px 4px;
    border-top: 1px solid #000;
}

.database__p {
    width: 20%;
    font-weight: bold;
}

.database__content {
    height: calc(100vh - 360px);
}

.database__data {
    display: flex;
    padding: 24px 4px;
    font-size: 16px;
    border-top: 1px solid #000;
}

.paginate {
    text-align: center;
}

.paginate__prev,
.paginate__next {
    color: rgb(80, 174, 251);
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 12px 12px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.current {
    color: rgb(80, 174, 251);
    border: 1px solid #ddd;
    padding: 6px 12px;
    background: #fff;
    vertical-align: middle;
}

/* user_list.blade.php styling */

.user-database__header {
    font-size: 20px;
    margin-bottom: 32px;
}

.user-database__p {
    text-align: center;
}

.user-database__content {
    height: calc(100vh - 300px);
}

.user-database__data {
    padding: 20px;
    font-size: 16px;
    border-top: 1px solid #000;
}


.user-name {
    border: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    background: inherit;
    margin-right: 600px;
}

.submit-button {
    width: 100px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    opacity: 0.6;
}

/* user_atte_list.blade.php styling */
.database__name {
    margin-bottom: 32px;
}

.attendance_list__error {
    text-align: center;
    color: rgb(250, 80, 80);
}

/* user_attendance_list.blade.php styling */

.attendance-database__date {
    text-align: center;
    margin-bottom: 32px;
    font-weight: bold;
}

.attendance-database__content {
    height: calc(100vh - 440px);
}

.attendance_list {
    text-align: center;
    margin-bottom: 16px;
}

.laval {
    margin-right: 24px;
}

.input-date {
    width: 20%;
    font-size: 16px;
    margin-right: 32px;
}

.error-date {
    color: red;
    margin-bottom: 8px;
}
